<h4>First name: <%= @contact.first_name %></h4>
<h4>Last name: <%= @contact.last_name %></h4>
<h4>Job Title: <%= @contact.job_title %></h4>
<h4>Company: <%= @contact.company %></h4>
<h4>Address:</h4>
<%= @address.street if @address %>
<p>
  <%= @address.city if @address %>, <%= @address.state if @address %> <%= @address.zip if @address %>
</p>
<% if @number %>
  <h4>Phone Number: (<%= @number.area_code  %>)<%= @number.first_half %>-<%= @number.second_half %></h4>
<% end %>
<h4>Email: <%= @email.email if @email %></h4>


<% unless @address %>
  <a href="/contact/<%= @contact.id %>/contact_form">Add Contact Info</a>
<% else %>
  <a href="/contact/<%= @contact.id %>/update"><button class="btn">Update Contact</button></a>
<% end %>
<a href="/"><button class="btn">Back to Contacts</button></a>
