<h3>First name: <%= @contact.first_name %></h3>
<h3>Last name: <%= @contact.last_name %></h3>
<h3>Job Title: <%= @contact.job_title %></h3>
<h3>Company: <%= @contact.company %></h3>
<h3>Street: <%= @address.street if @address %></h3>
<h3>City: <%= @address.city if @address %></h3>
<h3>State: <%= @address.state if @address %></h3>
<h3>Zip: <%= @address.zip if @address %></h3>
<% if @number %>
  <h3>Phone Number: <%= @number.area_code  %>-<%= @number.first_half %>-<%= @number.second_half %></h3>
<% end %>
<h3>Email: <%= @email.email if @email %></h3>


<% unless @address %>
  <a href="/contact/<%= @contact.id %>/contact_form">Add Contact Info</a>
<% end %>
<a href="/">Back to Contacts</a>
