
<h4>Contact Info</h4>
<form id="form_id" action="/update_form" method="post">
  <div class="form-group">
    <label for="first_name">First Name:</label>
    <input type="text" name="first_name" id="first_name" class='form-control' value='<%= @contact.first_name %>'>

    <label for="last_name">Last Name:</label>
    <input type="text" name="last_name" id="last_name" class='form-control' value='<%= @contact.last_name %>'>

    <label for="job_title">Job Title:</label>
    <input type="text" name="job_title" id="job_title" class='form-control' value='<%= @contact.job_title %>'>

    <label for="company">Company:</label>
    <input type="text" name="company" id="company" class='form-control' value='<%= @contact.company %>'>

    <input type="hidden" name="id" value="<%= @contact.id %>">

    <label for="street">Street Address:</label>
    <input type="text" name="street" id="street" class='form-control' value='<%= @address.street %>'>

    <label for="city">City:</label>
    <input type="text" name="city" id="city" class='form-control' value='<%= @address.city %>'>

    <label for="state">State:</label>
    <input type="text" name="state" id="state" class='form-control' value='<%= @address.state %>'>

    <label for="zip">Zip Code:</label>
    <input type="text" name="zip" id="zip" class='form-control' value='<%= @address.zip %>'>



    <label for="">Phone Number:</label>
    <div class="row">
      <div class="md-col-4">
        <input type="text" name="area_code" id="area_code" class="phone" value='<%= @number.area_code %>'> -
        <input type="text" name="first_half" id="first_half" class="phone" value='<%= @number.first_half %>'> -
        <input type="text" name="second_half" id="second_half"  class="phone" value='<%= @number.second_half %>'>
      </div>
    </div>



    <label for="email">Email:</label>
    <input type="text" name="email" id="email" class='form-control' value='<%= @email.email %>'>

  </div>
  <button class="btn btn-success" type="submit">Add Info</button>
</form>
